@font-face {
   font-family: 'GRECOromanLubedWrestling';
   font-display: swap;
   src: url('file:///C:/Users/Sage/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-16_041015/fonts/GRECOromanLubedWrestling/font.ttf');
}
